@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The world's best store.</h1>
    <p class="lead">Welcome to the number one store. In the world. </p>
    <p><a href="@Url.Action("Index", "Store")" class="btn btn-primary btn-lg">Start shopping</a></p>
</div>