
@{
    ViewBag.Title = "ManageProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Product Management System</h2>

<script>
    $(document).ready(function () {

        updateCategoryMenu();

        // Create new category
        $("#createNewCategoryBtn").click(function () {
            var title = $("#categoryName").val();
            if (title.length > 0) {
                category = {
                    'title': title
                }
                $.ajax({
                    url: '/api/Categories/',
                    method: 'post',
                    contentType: 'application/json',
                    dataType: 'json',
                    data: JSON.stringify(category),
                    success: function (data) {
                        $("#categoryName").val("");
                        $('#shoppingList').append('<option value="' + data.CategoryID + '">' + data.Title + '</option>');
                    }
                })
            }
            
        });

        $('#btnReset').click(function () {
            $('#Title').val(" ");
            $('#shortDescription').val(" ");
            $('#longDescription').val(" ");
            $('#imageUrl').val(" ");
            $('#Price').val(" ");
        });

        // Fetch products from selected category
        $('#btnSubmit').click(function () {
            var categoryID = $('select[name=selector]').val();
            updateList(categoryID, null, 1);
        });

        // Add new product
        $('#btnSave').click(function () {
            var categoryid = $('select[name=selector]').val();
            var product = {
                CategoryID: categoryid, Title: $('#Title').val(), ShortDescription: $('#shortDescription').val(),
                LongDescription: $('#longDescription').val(), ImageUrl: $('#imageUrl').val(), Price: $('#Price').val()
            };
            $.ajax({
                url: '/api/Products',
                method: 'post',
                contentType: 'application/json',
                dataType: 'json',
                data: JSON.stringify(product),
                success: function (data) {
                    updateList(categoryid, null, 1);
                }
            });
        });

        // Delete selected category and all products in selected category
        $('#btnDeleteCat').click(function () {
            if (confirm("Are you sure you want to delete category?")) {
                var categoryid = $('select[name=selector]').val();

                // Delete all products in category
                $.ajax({
                    url: '/api/Products/',
                    type: 'get',
                    success: function (data) {
                        for (var i = 0; i < data.length; i++) {
                            if (categoryid == data[i].CategoryID) {
                                remove(categoryid, data[i].ProductID);
                                updateList(categoryid, data[i].ProductID, 2);
                            }
                        }
                    }
                })

                // Delete category
                $.ajax({
                    url: '/api/Categories/' + categoryid,
                    type: 'delete',
                    success: function (data) {
                        updateCategoryMenu();
                    }
                })
            }
        });
    });

    // Fetch categories into dropdown menu
    function updateCategoryMenu() {
        $.ajax({
            url: '/api/Categories/',
            method: 'get',
            success: function (data) {
                $('#shoppingList').empty();
                $('#shoppingList').append('<option value=""></option>');
                for (var i = 0; i < data.length; i++) {
                    $('#shoppingList').append('<option value="' + data[i].CategoryID + '">' + data[i].Title + '</option>');
                }
            }
        })
    }

    // Update product list
    function updateList(categoryid, productid, type) {
        $.ajax({
            url: '/api/Products/',
            method: 'get',
            success: function (data) {
                for (var i = 0; i < data.length; i++) {

                    // Reset table before displaying new products
                    if (i == 0) {
                        $("#productList").html("");
                    }
                    // Update products from selected category and after adding new product
                    if (type == 1 && categoryid == data[i].CategoryID) {
                        appendData(data[i]);

                    // Update list after removing a product
                    } else if (type == 2 && categoryid == data[i].CategoryID && productid != data[i].ProductID) {
                        appendData(data[i]);
                    }
                }
            }
        })
    }

    // Append data into table
    function appendData(data) {
        $('#productList').append(
            `<tr><td>` + data.ProductID +
            `</td><td>` + data.CategoryID +
            `</td><td>` + data.Title +
            `</td><td>` + data.ShortDescription +
            `</td><td>` + data.LongDescription +
            `</td><td>` + data.ImageUrl +
            `</td><td>` + data.Price +
            `</td><td> <a data-toggle="modal" data-target="#myModal" onclick= "update(`+ data.ProductID + `)">Update</a> | <a onclick= "remove(` + data.CategoryID + `,` + data.ProductID + `)" >Delete</a></td></tr>`
        )
    }

    // Remove selected product
    function remove(categoryid, productid) {
        if (confirm("Are you sure you want to delete product?")) {
            $.ajax({
                url: '/api/Products/' + productid,
                type: 'delete',
                success: function (data) {
                    updateList(categoryid, productid, 2);
                }
            });
        }
    }

    // Update product
    function update(id) {

        // Display current data of the product the user wants to update
        $.ajax({
            url: '/api/Products/' + id,
            method: 'get',
            success: function (data) {
                $('#mTitle').val(data.Title);
                $('#mShortDescription').val(data.ShortDescription);
                $('#mLongDescription').val(data.LongDescription);
                $('#mImageUrl').val(data.ImageUrl);
                $('#mPrice').val(data.Price);
            }
        })

        // Update the product list with the updated product details
        $('#btnUpdate').click(function () {
            var categoryid = $('select[name=selector]').val();
            var product = {
                ProductID: id, CategoryID: categoryid, Title: $('#mTitle').val(), ShortDescription: $('#mShortDescription').val(),
                LongDescription: $('#mLongDescription').val(), ImageUrl: $('#mImageUrl').val(), Price: $('#mPrice').val()
            };
            $.ajax({
                url: '/api/Products/' + id,
                method: 'put',
                contentType: 'application/json',
                data: JSON.stringify(product),
                success: function (response) {
                    updateList(categoryid, null, 1);
                }
            })
        })
    }

</script>

<div class="container" style="width:1200px;">

    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">Select</div>
                <div class="panel-body">
                    <div class="form-group">
                    <label>Select category</label>
                    <select class="form-control" name="selector" id="shoppingList" rel="0">
                        <option></option>
                    </select>
                        </div>
                    <button class="btn" id="btnSubmit">Submit</button>
                    <button class="btn" id="btnDeleteCat">Delete</button>
                    <div class="form-group">
                        <label>Create new category</label>
                        <input type="text" class="form-control" id="categoryName" placeholder="Create new category" />
                    </div>
                    <button class="btn" id="createNewCategoryBtn">Create</button>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading">Add Product</div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" id="Title" />
                        </div>
                        <div class="form-group">
                            <label>Short description</label>
                            <input type="text" class="form-control" id="shortDescription" />
                        </div>
                        <div class="form-group">
                            <label>Long description</label>
                            <input type="text" class="form-control" id="longDescription" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Image url</label>
                            <input type="url" class="form-control" id="imageUrl" />
                        </div>
                        <div class="form-group">
                            <label>Price</label>
                            <input type="number" class="form-control" id="Price" />
                        </div>
                        <div class="form-group">
                            <button class="btn" id="btnSave">Save</button>
                            <button class="btn" id="btnReset">Reset</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default">
                <table class="table table-hover panel panel-default">
                        <thead class="panel-heading">
                            <tr>
                                <th>Product ID</th>
                                <th>Category ID</th>
                                <th>Title</th>
                                <th>Short description</th>
                                <th>Long description</th>
                                <th>Image url</th>
                                <th>Price</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="panel-body" id="productList"></tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update Product</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Title</label>
                        <input type="text" class="form-control" id="mTitle" />
                    </div>
                    <div class="form-group">
                        <label>Short description</label>
                        <input type="text" class="form-control" id="mShortDescription" />
                    </div>
                    <div class="form-group">
                        <label>Long description</label>
                        <input type="text" class="form-control" id="mLongDescription" />
                    </div>
                    <div class="form-group">
                        <label>Image url</label>
                        <input type="url" class="form-control" id="mImageUrl" />
                    </div>
                    <div class="form-group">
                        <label>Price</label>
                        <input type="number" class="form-control" id="mPrice" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary pull-right" id="btnUpdate" data-dismiss="modal">Update</button>
                    <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>